@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #ffffff;

  --black: #121128;

  --blue: #3a80e9;

  --grey: #888;

  --darkgrey: #1b1b1b;

  --green: #61c96f;
  --red: #f94141;
  --gradient1: #0F1536;
  --gradient2: #08080b;
  --fontOrange:rgb(238, 113, 67)


}


body {
  background-image: linear-gradient(var(--gradient1), var(--gradient2));
  background-repeat: no-repeat;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}


::-webkit-scrollbar {
  width: .3rem;
}


::-webkit-scrollbar-track {
  background:var(--black);
}


::-webkit-scrollbar-thumb {
  background:var(--blue);
  border-radius:3rem ;
  height: 1rem;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

